@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* header style */
.header-container{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    align-items: center;
}

.logo{
    display: flex;
    gap: 5px;
    align-items: center;
}
.logo > p{
    font-size: 20px;
    font-weight: 800;
}
span{
    color: red;
}

/* nav style */
.nav > ul{
    display: flex;
    gap: 20px;
    font-size: 20px;
    text-align: center;
}
.list{
    list-style: none;
}
.list > p{
    background-color: rgb(203, 195, 195);
}
/* nav & logo style end */

/* banner style */
.banner{
    background-color: rgb(239, 232, 239);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}
.banner-text{
    width: 300px;
    font-size: 18px;
}
.btn{
    background-color: pink;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 10px;
    
}
.btn-primary{
    background-color: rgb(128, 160, 215);
}
.banner-text > h1{
    color: mediumpurple;
    font-size: 35px;
    padding: 5px 0px;
}
.banner-img{
    width: 300px;
}
.banner-img img{
    width: 100%;
}

/* online games style */
.card-description{
    width: 500px;
    align-items: center;
    margin: 30px auto;
    text-align: center;  
}
.card-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card{
    width: 250px;
}
.card-img{
    width: 100%;
}

/* play style */
.play-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin: 60px 100px;
}
.play-img{
    width: 400px;
}
.image{
    width: 100%;
}
.position{
    width: 100px;
    position: relative;
    margin-top: -50px;
    margin-left: 350px;
}
.position img{
    width: 100%;
}
.play-text{
    width: 400px;
}
/* logo img style */
.logo-section{
    
    align-items: center;
}
.logo-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    align-items: center;
}
.single-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}